<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.emtvoinos.studentwork">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:usesCleartextTraffic="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".PreviewActivity">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->

<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <activity android:name=".StartMoneyActivity"/>
        <activity
                android:name=".OnStartPlayActivity"
                android:screenOrientation="landscape">

        </activity>
        <activity android:name=".GOActivity"/>
        <activity android:name=".NewActivity"/>
        <activity android:name=".BonusMiniGameActivity"/>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_application_id"/>

        <provider
                android:name="com.facebook.FacebookContentProvider"
                android:authorities="com.facebook.app.FacebookContentProvider416009469680127"
                android:exported="true"/>
    </application>

</manifest>